<div class="carousel-container" #carouselContainer>
    <button class="btn waves-effect waves-light btn-rounded btn-outline-secondary" (click)="moveToPrevious()">Previous</button>
    <img src="../../../assets/autoretrete.png" class="carousel-image" (click)="onClickImage(0)">
    <img src="../../../assets/autoretrete.png" class="carousel-image" (click)="onClickImage(1)">
    <img src="../../../assets/autoretrete.png" class="carousel-image" (click)="onClickImage(2)">
    <button class="btn waves-effect waves-light btn-rounded btn-outline-secondary" (click)="moveToNext()">Next</button>
  </div>
  