<div class="row container-fluid">
  <div class="col-md-6">
    <div class="carousel-container" #carouselContainer>
      <div class="row" style="justify-content:center">
        <div class="col-2">
          <img src="../../../assets/logo/angular.png" class="carousel-image" (click)="onClickImage(0)">
        </div>
        <div class="col-2">
          <img src="../../../assets/logo/docker.png" class="carousel-image" (click)="onClickImage(1)">
        </div>
        <div class="col-2">
          <img src="../../../assets/logo/git.png" class="carousel-image" (click)="onClickImage(2)">
        </div>
        <div class="col-2">
          <img src="../../../assets/logo/googleCloud.png" class="carousel-image" (click)="onClickImage(3)">
        </div>
        <div class="col-2">
          <img src="../../../assets/logo/mongodb.png" class="carousel-image" (click)="onClickImage(4)">
        </div>
        <div class="w-100"></div>
        <div class="col-2">
          <img src="../../../assets/logo/nodejs.png" class="carousel-image" (click)="onClickImage(5)">
        </div>
        <div class="col-2">
          <img src="../../../assets/logo/postgreSQL.png" class="carousel-image" (click)="onClickImage(6)">
        </div>
        <div class="col-2">
          <img src="../../../assets/logo/python.png" class="carousel-image" (click)="onClickImage(7)">
        </div>
        <div class="col-2">
          <img src="../../../assets/logo/typescript.png" class="carousel-image" (click)="onClickImage(8)">
        </div>
        <div class="col-2">
          <img src="../../../assets/logo/react.png" class="carousel-image" (click)="onClickImage(9)">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 tech-text">
    <div *ngIf="empty"
      style="display: flex; justify-content: center; align-items: center; height: 100%; ">
      <button class="btn waves-effect waves-light btn-rounded btn-outline-secondary"
        style="margin: 10px;" (click)="showVersion()">Versions</button>
      <button class="btn waves-effect waves-light btn-rounded btn-outline-secondary">Projects</button>
    </div>
    <ul class="white-text" *ngIf="showVersions">
      <h3 style="text-align: center;" >Versions</h3>
        <li>Test</li>
    </ul>
  </div>
</div>