<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="text-card">Any questions or suggestions? Write to me!</h4>
                <form class="form p-t-20" [formGroup]="contactForm" (submit)="actualizarPerfil()">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname"
                                placeholder="Nombre del usuario" formControlName='name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
                                formControlName="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <textarea class="form-control body-field" id="message" placeholder="Message"
                            formControlName="body"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10"
                       ><i class="fa fa-save"></i>Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>

