<div class="card CV-card" *ngIf="!pdfShown; else pdfViewer">
  <div class="card-footer">
    <div class="button-container">
      <button class="btn" [disabled]="pdfLoaded" (click)="viewCV()">View CV</button>
      <button class="btn" (click)="downloadCV()">Download CV</button>
    </div>
  </div>
</div>

  
<ng-template #pdfViewer>
  <div class="pdf-container">
    <button class="close-button" (click)="closeCV()">
      <i class="material-icons">close</i>
    </button>
    <canvas id="pdfCanvas" class="CV fade-in"></canvas>
  </div>   
</ng-template>
