<footer>
    <div class="footer-dark">

        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>About</h3>
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">CV</a></li>
                </ul>
            </div>
            <div class="col item social">
                <a href="https://www.youtube.com/channel/UCAE-h6LasCo18dJymGM5eKg"><i
                        class="fa-brands fa-youtube"></i></a>
                <a href="https://www.instagram.com/siles99/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/martinsilesreche588bba177/"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Martinsr99"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <p class="copyright">Martin Siles © {{year}}</p>

    </div>
</footer>